#hero-slider {
    min-height:90vh;
    background-image: url("../../assets/citrus.jpg");
    background-size: cover;
    text-align: center;
    padding-right: 25vh;
    padding-left: 25vh;
}

.hero-title {
    margin: 0;
    padding-top: 15vh;
    font-size: 8em;
}

#highlight {
    background-color: white;
}

.hero-button {
    color: white;
    font-size: 3em;
    padding-top: 3em;
}

#about-section {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr 0.5fr;
    grid-row-gap: 6em;
    grid-template-columns: 1fr 60vw 1fr;
    min-height: 90vh;   
}

.about-div {
    display: flex;
    justify-content: space-evenly;
    align-content: center;

}

.about-text {
    margin: 1em;
}

#about-1 {
    grid-area: 2/2/3/3;

}

#about-2 {
    grid-area: 3/2/4/3;

}

#about-3 {
    grid-area: 4/2/5/3;

}

.about-button {
    font-size: 3em;
    padding-top: 1em;
    grid-area: 5/2/6/3;
    text-align: center;
}

#sign-up-section {
    min-height:90vh;
    background-color: rgb(238,250,188);
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-up-div {
    display: flex;
    align-items: center;
}

#sign-up-img > img{
    border-radius: 50%;
}

#sign-up-btns {
    margin: 2em;
}

