html {
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5 {
    font-family: 'Permanent Marker', cursive;
}

a {
    text-decoration: none;
}

.about-button a:link {
    color: rgb(255,111,54
);
}

.about-button a:visited { 
    color: rgb(255,111,54
);
}

.hero-button a:link {
    color: white;
}

.hero-button a:visited {
    color: white;
}

@supports (display: grid) {
    .wrapper {
        display: grid;
        width: 100%;
        grid-template-areas: 
            "header"
            "content";
        grid-template-rows: 100px auto;
        grid-template-columns: 100vw;
        align-items: center;
    }

    .header {
        grid-area: header;
        width: 100vw;
        height: 6em;
        background-color: rgb(221,228,53);
        border-bottom: 4px solid rgb(194,199,45);
        position: fixed;
    }

    .content {
        grid-area: content;
    }
}


